kind: Secret
apiVersion: v1
metadata:
  name: argocd-vault-plugin-credentials
  namespace: argocd
type: Opaque
data:
    VAULT_ADDR: {{ argocd.config.vault.VAULT_ADDR | b64encode }}
    VAULT_TOKEN: {{ argocd.config.vault.VAULT_TOKEN | b64encode }}
    AVP_TYPE: dmF1bHQ=
    AVP_AUTH_TYPE: dG9rZW4=
