apiVersion: v1
kind: Secret
metadata:
  name: longhorn-backup-target-credential-secret
  namespace: {{ apps.longhorn.namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ apps.longhorn.secret.AWS_ACCESS_KEY_ID | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ apps.longhorn.secret.AWS_SECRET_ACCESS_KEY | b64encode }}
  AWS_ENDPOINTS: {{ apps.longhorn.secret.AWS_ENDPOINTS | b64encode }}
  AWS_CERT: {{ apps.longhorn.secret.AWS_CERT | b64encode }}