{% for issuer in certManager.issuers %}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ issuer.name }}
spec:
  acme:
    email: {{ issuer.email }}
    server: {{ issuer.server }}
    privateKeySecretRef:
      name: {{ issuer.name }}
    solvers:
    - http01:
        ingress:
          class: nginx
{% endfor %}