ingress:
  enabled: {{ kubernetesDashboard.config.ingress.enabled }}

  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "{{ kubernetesDashboard.config.ingress.annotations.issuer }}"
    # kubernetes.io/tls-acme: 'true'

  hosts:
    - {{ kubernetesDashboard.config.ingress.host }}
  tls:
    - secretName: {{ kubernetesDashboard.config.ingress.tls.secret_name }}
      hosts:
        - {{ kubernetesDashboard.config.ingress.host }}
