apiVersion: v1
kind: Secret
metadata:
  name: {{ longhorn.secret.name }}
  namespace: {{ longhorn.namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ longhorn.secret.access_key_id | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn.secret.secret_access_key | b64encode }}
  AWS_ENDPOINTS: {{ longhorn.secret.endpoint | b64encode }}
  AWS_CERT: {{ longhorn.secret.cert | b64encode }}
