persistence:
  defaultClassReplicaCount: {{ longhorn.config.persistence.defaultClassReplicaCount }}
  reclaimPolicy: {{ longhorn.config.persistence.reclaimPolicy }}

defaultSettings:
  backupTarget: {{ longhorn.config.defaultSettings.backupTarget }}
  backupTargetCredentialSecret: {{ longhorn.secret.name }}
  defaultDataPath: {{ longhorn.config.defaultSettings.defaultDataPath }}

ingress:
  enabled: {{ longhorn.config.ingress.enabled }}
  host: {{ longhorn.config.ingress.host }}
  tls: {{ longhorn.config.ingress.tls.enabled }}
  secureBackends: {{ longhorn.config.ingress.tls.secureBackends }}
  tlsSecret: {{ longhorn.config.ingress.tls.secret_name }}

  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: {{ longhorn.config.ingress.annotations.issuer }}
    # kubernetes.io/tls-acme: true
